.nav-tabs {
  border: 1px solid #D0D0D0;
  border-top-left-radius: 2.5px;
  border-top-right-radius: 2.5px;



  .nav-item:not(:last-child) .nav-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-right-color: #D0D0D0;
  }
}

.tab-content {
  background-color: #FFF8DA;
  border: 1px solid #D0D0D0;
  border-top: 0;
  color: #2195DB;
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;

  > div {
    width: 100%;
  }

  .col {
    padding: 0 4px;
  }
}

.nav-fill .nav-item {
  text-align: left;
}

.nav-link {
  padding: 2.5px 6px;
}
