<div class="mb-3">
  <ul class="nav nav-tabs nav-fill" role="tablist">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" role="tab" style="background-color: #FFF8DA; border-bottom-color: #FFF8DA;">Estado
        <div style="float: right">
          <i class="ion ion-ios-arrow-down"></i>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" role="tab">DDD
        <div style="float: right">
          <i class="ion ion-ios-arrow-up"></i>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" role="tab">Zona / Região
        <div style="float: right">
          <i class="ion ion-ios-arrow-up"></i>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" role="tab">Bairro / Cidade
        <div style="float: right">
          <i class="ion ion-ios-arrow-up"></i>
        </div>
      </a>
    </li>
  </ul>
  <div class="d-flex tab-content">
    <div class="d-flex flex-column pt-2" id="estado" role="tabpanel">
      <div class="d-flex justify-content-between">
        <span class="col"><a>Acre (AC)</a></span>
        <span class="col">Espírito Santo (ES)</span>
        <span class="col">Paraíba (PB)</span>
        <span class="col">Rondônia (RO)</span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="col">Alagoas (AL)</span>
        <span class="col">Goiás (GO)</span>
        <span class="col">Paraná (PR)</span>
        <span class="col">Roraima (RR)</span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="col">Amapá (AP)</span>
        <span class="col">Maranhão (MA)</span>
        <span class="col">Pernambuco (PE)</span>
        <span class="col">Santa Catarina (SC)</span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="col">Amazonas (AM)</span>
        <span class="col">Mato Grosso (MT)</span>
        <span class="col">Piauí (PI)</span>
        <span class="col">São Paulo (SP)</span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="col">Bahia (BA)</span>
        <span class="col">Mato Grosso do Sul (MS)</span>
        <span class="col">Rio de Janeiro (RJ)</span>
        <span class="col">Sergipe (SE)</span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="col">Ceará (CE)</span>
        <span class="col">Minas Gerais (MG)</span>
        <span class="col">Rio Grande do Norte (RN)</span>
        <span class="col">Tocantins (TO)</span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="col">Distrito Federal (DF)</span>
        <span class="col">Pará (PA)</span>
        <span class="col">Rio Grande do Sul (RS)</span>
        <span class="col">Todo Brasil</span>
      </div>
    </div>
    <div class="tab-pane" id="ddd" role="tabpanel">DDD</div>
    <div class="tab-pane" id="zona" role="tabpanel">Zona / Região</div>
    <div class="tab-pane" id="bairro" role="tabpanel">Bairro / Cidade</div>
  </div>
</div>
