<div class="d-flex mb-2 no-gutters olx-ad">
  <div class="col-auto"><img [src]="imgSrc" [alt]="imgAlt"></div>
  <div class="col d-flex flex-column justify-content-between olx-lato-regular p-1">
    <div class="d-flex flex-column flex-md-row no-gutters">
      <p class="col-md olx-ad-title m-0">{{title}}</p>
      <div class="col-md-auto">
        <p class="m-0 text-left text-md-right">
          <span class="d-none d-md-block" *ngIf="startingFrom" style="color: #333333;">A partir de<br></span>
          <span class="olx-preco">{{price}}</span><br>
          <span style="color: #999999; font-size: 11px;">{{publishDate}}</span>
        </p>
      </div>
    </div>
    <div class="d-flex no-gutters">
      <p class="col d-none d-md-block m-0" style="color: #999999">
        {{moreInfo}} <br>
        <span style="color: #333333;">{{locale}}</span>
      </p>
    </div>
  </div>
</div>
