@import "../../../../node_modules/bootstrap/scss/bootstrap";

.olx-ad {
  border: 1px solid #D0D0D0;
  border-radius: 2.5px;

  .olx-preco {
    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }
  }
}

.olx-ad-title {
  font-size: 16px;
  @include media-breakpoint-down(sm) {
    font-size: 12px;
  }
}
