.olx-filtro {
  background-color: #FFFFFF;
  border: 1px solid #D0D0D0;

  i {
    color: #99BB00;
  }
}

.olx-salvar-busca {
  background-color: #FFFFFF;
  border: 1px solid #D0D0D0;

  i {
    color: #F27482;
  }
}
