<div class="container-fluid">
  <div class="d-flex flex-row align-items-start mb-3">
    <div class="col col-sm col-md-3">
      <div class="input-group olx-search mb-md-2">
        <input class="form-control" placeholder="O que você procura?" style="font-size: 12px">
        <span class="input-group-addon"><i class="ion ion-ios-search"></i></span>
      </div>
      <div class="olx-checkbox d-none d-md-block mb-3">
        <img src="./assets/checkbox.png" alt="Checkbox"><span class="pl-1 olx-lato-regular">Procurar pelo título do anúncio</span>
      </div>
      <div class="d-none d-md-block">
        <app-category-filter></app-category-filter>
      </div>
    </div>
    <div class="col-auto col-sm-auto d-md-none">
      <button class="btn olx-filtro" (click)="isToggled = !isToggled">
        <i class="ion ion-ios-funnel"></i>
        FILTRAR
      </button>
    </div>
    <div class="col d-none d-md-block pl-0">
      <app-locale-filter></app-locale-filter>
      <app-gallery></app-gallery>
      <div class="d-flex align-items-center pt-2">
        <span class="col olx-lato-regular">8.234.908 Resultados para essa busca</span>
        <button class="btn col-auto olx-salvar-busca olx-lato-regular">
          <i class="ion ion-ios-heart-outline"></i>
          Salvar busca
        </button>
      </div>
      <div class="pt-2 mb-3">
        <app-ad-list-item *ngFor="let ad of ads" [imgSrc]="ad.imgSrc" [imgAlt]="ad.imgAlt"
                          [title]="ad.title" [locale]="ad.locale" [moreInfo]="ad.moreInfo"
                          [price]="ad.price" [startingFrom]="ad.startingFrom"
                          [publishDate]="ad.publishDate"></app-ad-list-item>
      </div>
      <div class="d-flex flex-row align-items-center no-gutters mb-3">
        <span class="col-auto olx-azul olx-lato-regular" style="font-size: 14px"><i
          class="ion ion-md-arrow-dropleft"></i> Anterior</span>
        <div class="col text-center olx-lato-regular">
          <span class="p-1"><i class="ion ion-ios-arrow-back"></i><i class="ion ion-ios-arrow-back"></i></span>
          <span class="p-1">03</span>
          <span class="p-1 font-weight-bold">04</span>
          <span class="p-1">05</span>
          <span class="p-1">06</span>
          <span class="p-1">07</span>
          <span><i class="ion ion-ios-arrow-forward"></i><i class="ion ion-ios-arrow-forward"></i></span>
        </div>
        <div class="col-auto">
          <button class="btn olx">Inserir anúncio</button>
        </div>
      </div>
      <hr class="mb-3">
      <app-sugestions></app-sugestions>
    </div>
  </div>
  <div class="d-flex flex-row align-items-center d-md-none">
    <div class="col">
      <app-ad-list-item *ngFor="let ad of adsMobile" [imgSrc]="ad.imgSrc" [imgAlt]="ad.imgAlt"
                        [title]="ad.title" [locale]="ad.locale" [moreInfo]="ad.moreInfo"
                        [price]="ad.price" [startingFrom]="ad.startingFrom"
                        [publishDate]="ad.publishDate"></app-ad-list-item>
    </div>
  </div>
  <div class="d-flex flex-row align-items-center justify-content-between mb-3 d-md-none">
    <span class="col-auto olx-azul olx-lato-regular" style="font-size: 14px"><i class="ion ion-md-arrow-dropleft"></i> Anterior</span>
    <div class="col"></div>
    <div class="col-auto">
      <button class="btn olx">Próxima <i class="ion ion-md-arrow-dropright"></i></button>
    </div>
  </div>
  <div class="d-flex flex-row align-items-center mb-3 d-md-none">
    <div class="col text-center olx-lato-regular">
      <span class="p-1">01</span>
      <span class="p-1 font-weight-bold">02</span>
      <span class="p-1">03</span>
      <span class="p-1">04</span>
      <span class="p-1">05</span>
      <span><i class="ion ion-ios-arrow-forward"></i><i class="ion ion-ios-arrow-forward"></i></span>
    </div>
  </div>
  <app-mobile [isToggled]="isToggled" (onToggled)="onToggled($event)"></app-mobile>
</div>
