<div class="d-flex flex-row justify-content-between olx-lato-regular mb-3">
  <div class="col media pl-0">
    <img src="./assets/iphone.png" alt="Iphone" height="60">
    <div class="media-body ml-1 olx-lato-regular">
      <p>Iphone 5S branco 16GB com 1 ano de...<br><span class="olx-preco">R$ 200.000</span></p>
    </div>
  </div>
  <div class="col media pl-0">
    <img src="./assets/iphone.png" alt="Iphone" height="60">
    <div class="media-body ml-1 olx-lato-regular">
      <p>Iphone 5S<br><span class="olx-preco">R$ 2.000</span></p>
    </div>
  </div>
  <div class="col media pl-0 pr-0">
    <img src="./assets/iphone.png" alt="Iphone" height="60">
    <div class="media-body ml-1 olx-lato-regular">
      <p>Fun Residencial - 02 quartos c/ suíte e Brinde...<br><span class="olx-preco">R$ 20</span></p>
    </div>
  </div>
</div>
