a {
  color: #2195DB;
  &:active, &:focus {
    color: #034D94;
  }
  &:hover {
    text-decoration: none;
  }
}

nav.olx-categorias {
  &.nav {
    border: 1px solid #D0D0D0;
    border-radius: 2.5px;
    cursor: pointer;

    .nav-item:first-child,
    .olx-categoria .nav-item,
    .olx-subcategoria .nav-item {
      font-size: 16px;
      padding: 12px 20px;
    }

    .olx-categoria .nav-item,
    .olx-subcategoria .nav-item {
      border-top: 1px solid #D0D0D0;
    }

    .olx-subcategoria .nav-item {
      padding: 12px 30px;
    }
  }

  .olx-azul.active {
    background-color: #2195DB;
    color: #FFFFFF;
  }
}
