<nav class="nav flex-column olx-categorias olx-lato-regular">
  <li class="nav-item">
    <p class="text-center" style="font-size: 18px">Filtrar</p>
  </li>
  <div *ngFor="let item of items" class="olx-categoria">
    <li class="d-flex nav-item olx-azul" *ngIf="item.items == null || item.items.length == 0">
      <a [href]="item.url">
        <div class="d-flex flex-row align-items-center">
          <img class="col-auto pl-0" *ngIf="item.icon != null" [src]="item.icon" [alt]="item.label">
          <span class="col pl-0 pr-0">{{item.label}}</span>
        </div>
      </a>
    </li>
    <li class="d-flex nav-item olx-azul" *ngIf="item.items != null && item.items.length > 0"
        [ngClass]="{'active': menuCollapsed === item.label}"
        (click)="changeMenuCollapsed(item.label)">
      <div class="d-flex flex-row align-items-center">
        <img class="col-auto pl-0" *ngIf="item.icon != null" [src]="item.icon" [alt]="item.label">
        <span class="col pl-0 pr-0">{{item.label}}</span>
      </div>
    </li>
    <div *ngIf="item.items != null && item.items.length > 0" [ngbCollapse]="menuCollapsed != item.label">
      <nav class="nav flex-column">
        <div *ngFor="let subItems of item.items" class="olx-subcategoria">
          <li class="nav-item olx-azul">
            <a [href]="subItems.url">
              <div class="d-flex flex-row align-items-center">
                <img class="col-auto pl-0" *ngIf="subItems.icon != null" [src]="subItems.icon" [alt]="subItems.label">
                <span class="col pl-0 pr-0">{{subItems.label}}</span>
              </div>
            </a>
          </li>
        </div>
      </nav>
    </div>
  </div>
</nav>
