<div id="mobile" [ngClass]="{'toggled h-100': isToggled}" style="background-color: #FAFAFA">
  <div class="d-flex flex-row align-items-center olx-filtro" (click)="leaveCategoriesFilter()">
    <div class="col-auto" style="cursor: pointer;">
      <i class="ion ion-ios-close" style="font-size: 34px"></i>
    </div>
    <div class="col"><p class="text-center text-uppercase olx-lato-regular" style="font-size: 18px">Filtrar</p></div>
  </div>
  <div class="olx-filtro">
    <span class="text-uppercase olx-lato-regular">O que deseja buscar?</span>
  </div>
  <nav class="sidebar-nav olx-categorias olx-lato-regular mb-3">
    <div class="olx-categoria" *ngIf="categoryActive != null">
      <li class="nav-item" (click)="backFromSub()">
        <div class="d-flex flex-row align-items-center">
          <div class="col-auto"><i class="ion ion-ios-arrow-back"></i></div>
          <div class="col">{{categoryActive.label}}</div>
        </div>
      </li>
    </div>
    <div *ngFor="let item of items" class="olx-categoria">
      <li class="nav-item olx-azul" *ngIf="item.items == null || item.items.length == 0">
        <a [href]="item.url">
          <div class="d-flex flex-row align-items-center">
            <img class="col-auto" *ngIf="item.icon != null" [src]="item.icon" [alt]="item.label">
            <span class="col">{{item.label}}</span>
          </div>
        </a>
      </li>
      <li class="d-flex nav-item olx-azul olx-categoria" *ngIf="item.items != null && item.items.length > 0"
          (click)="changeMenuToggled(item.label)">
        <div class="d-flex flex-row align-items-center">
          <img class="col-auto" *ngIf="item.icon != null" [src]="item.icon" [alt]="item.label">
          <span class="col">{{item.label}}</span>
        </div>
      </li>
    </div>
  </nav>
  <div class="d-flex flex-row align-items-center olx-filtro">
    <div class="col p-0" (click)="leaveCategoriesFilter()">
      <button class="btn olx w-100" style="font-size: 18px">Filtrar</button>
    </div>
  </div>
</div>
