#mobile {
  background-color: #FFFFFF;
  display: none;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;

  &.toggled {
    display: block;
    position: fixed;
  }

  .sidebar-nav {
    &.olx-categorias {
      border: 1px solid #D0D0D0;
      border-top: 0;
      border-radius: 2.5px;
      cursor: pointer;

      .olx-categoria .nav-item,
      .olx-subcategoria .nav-item {
        background-color: #ffffff;
        font-size: 16px;
        padding: 12px 20px;
      }

      .olx-categoria .nav-item,
      .olx-subcategoria .nav-item {
        border-top: 1px solid #EBEBEB;
      }

      .olx-subcategoria .nav-item {
        padding: 12px 30px;
      }

      .olx-azul.active {
        background-color: #2195DB;
        color: #FFFFFF;
      }
    }
  }

  .olx-filtro {
    padding: 12px 20px;
    &:first-child {
      background-color: #FFFFFF;
    }
    &:nth-child(2) {
      border-bottom: 1px solid #D0D0D0;
      border-top: 2px solid #D0D0D0;
    }
  }
}
