<div class="mb-3 olx-sugestoes">
  <div class="mb-3"><span class="olx-lato-regular" style="font-size: 16px">Você também pode gostar de:</span></div>
  <div class="d-flex flex-row no-gutters">
    <div class="col">
      <img src="./assets/iphone.png" alt="Iphone" class="mb-1" height="75">
      <p class="olx-lato-regular">
        Iphone 5S branco com 16GB com 1 ano<br>
        <span class="olx-preco">R$ 200.000</span>
      </p>
    </div>
    <div class="col">
      <img src="./assets/iphone.png" alt="Iphone" class="mb-1" height="75">
      <p class="olx-lato-regular">
        Iphone 5S<br>
        <span class="olx-preco">R$ 2.000</span>
      </p>
    </div>
    <div class="col">
      <img src="./assets/iphone.png" alt="Iphone" class="mb-1" height="75">
      <p class="olx-lato-regular">
        Fun Residencial - 02 quartos c/suíte e...<br>
        <span class="olx-preco">R$ 20</span>
      </p>
    </div>
    <div class="col">
      <img src="./assets/iphone.png" alt="Iphone" class="mb-1" height="75">
      <p class="olx-lato-regular">
        Iphone 5S branco com 16GB com 1 ano<br>
        <span class="olx-preco">R$ 200.000</span>
      </p>
    </div>
    <div class="col">
      <img src="./assets/iphone.png" alt="Iphone" class="mb-1" height="75">
      <p class="olx-lato-regular">Iphone 5S</p>
    </div>
  </div>
</div>
