<div id="header" class="container-fluid mb-3">
  <div class="d-flex flex-row align-items-center justify-content-between h-100">
    <div class="col-auto"><img src="./assets/logo.png" alt="OLX"/></div>
    <div class="col d-none d-md-block">
      <div class="input-group olx-search">
        <input class="form-control" placeholder="O que você procura?">
        <span class="input-group-addon"><i class="ion ion-ios-search"></i></span>
      </div>
    </div>
    <div class="col-1 col-md-auto d-none d-md-block"><span class="olx-azul olx-lato-regular">Lojas</span></div>
    <div class="col-2 col-md-auto d-none d-md-block"><span class="olx-azul olx-lato-regular">Meus Anúncios</span></div>
    <div class="col col-md-auto d-none d-md-block">
      <button class="btn olx-azul olx-lato-regular">
        <i class="ion ion-ios-person" style="font-size: 24px;"></i>
        Minha conta
      </button>
    </div>
    <div class="col-auto">
      <button class="btn olx">Inserir anúncio</button>
    </div>
  </div>
</div>
