/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato');

p {
  margin: 0;
}

.btn {
  &.olx {
    background-color: #FF9232;
    color: #FFFFFF;
  }

  &.olx-azul {
    background-color: #FFFFFF;
  }
}

.olx-azul {
  color: #2195DB;
}

.olx-lato-regular,
.olx-lato-regular {
  color: #666666;
  font-family: Lato, sans-serif;
  font-size: 12px;
  line-height: normal;
}

.olx-preco {
  color: #EE6600;
}

.olx-search {
  .form-control {
    border-right: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 8px 2px;
  }
  .input-group-addon {
    background-color: #FFFFFF;
    border-left: 0;
    padding: 0 12px 0 0;
  }
}
