<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">RJ</li>
    <li class="breadcrumb-item">Rio de Janeiro e região</li>
    <li class="breadcrumb-item">Carros</li>
    <li class="breadcrumb-item">Fiat</li>
    <li class="breadcrumb-item">Palio</li>
    <li class="breadcrumb-item">Zona Norte</li>
    <li class="breadcrumb-item active">São Cristóvão</li>
  </ol>
</div>
